@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,900&display=swap');

html, body {
    color: #191919;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;

    h3 {
        font-family: 'DM Sans', sans-serif;
        font-weight: 600;
        font-size: 22px;
    }
}

.btn-yellow {
    background-color: #F9D783;
    border: 1px solid #F9D783;
    color: #191919;
    text-decoration: none;
    padding: 12px 30px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 25px;

    i {
        margin-left: 10px;
        font-size: 0,9em;
    }

    &:hover {
        background-color: #191919;
        border: 1px solid #191919;
        color: #F0EFE9;
        transition: 0.2s ease-in-out;
    }
}

.btn-black {
    background-color: #191919;
    border: 1px solid #191919;
    color: #FFFFFF;
    text-decoration: none;
    padding: 12px 30px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 25px;

    i {
        margin-left: 10px;
        font-size: 0,9em;
    }

    &:hover {
        background-color: #FFFFFF;
        border: 1px solid #191919;
        color: #191919;
        transition: 0.2s ease-in-out;
    }
}

.btn-transparent {
    background-color: transparent;
    border: 1px solid #191919;
    color: #191919;
    text-decoration: none;
    padding: 12px 30px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 25px;

    i {
        margin-left: 10px;
        font-size: 0,9em;
    }

    &:hover {
        background-color: #191919;
        border: 1px solid #191919;
        color: #F0EFE9;
        transition: 0.2s ease-in-out;
    }
}

.section-title {
            
    p {
        color: #F94D1C;
        font-family: 'Inter', sans-serif;
        font-size: 18px;
        font-weight: 500;
    }

    h2 {
        color: #191919;
        font-family: 'DM sans', sans-serif;
        font-size: 45px;
        font-weight: 700;

    }
}

.center-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    background-color: #F0EFE9;
    padding-top: 16px;
    
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 70px;
        
        .mobile-menu-bars {
            font-size: 25px;
            border: none;
            background-color: transparent;

            @media (min-width: 992px) {
                display: none;
            }
        }

        .menu {
            display: none;
            flex: 1;
            
            @media (min-width: 992px) {
                display: block;
            }

            .top-menu {
                display: flex;
                justify-content: flex-end;
                border-bottom: 1px solid #DAD9D3;
                padding-bottom: 10px;
                align-items: center;
                
                @media (min-width: 1200px) {
                    justify-content: space-between;
                }

                .contact-information {
                    display: none;
                    align-items: center;

                    @media (min-width: 1200px) {                        
                        display: flex;  
                        
                    }

                    .content-box {
                        position: relative;
                        display: flex;
                        justify-content: center;                    
                        align-items: center;

                        margin-right: 30px;
                        border-right: 1px solid #DAD9D3;
                        padding-right: 30px;
                        
                        
                        font-family: 'Inter', sans-serif;
                        font-size: 15px;
                        font-weight: 300;

                        
                        
                        i {
                            margin-right: 10px;
                            
                            font-size: 1.2em;                                                  
                        }

                        p {
                            margin-top: 5px;
                            margin-bottom: 5px;
                        }
                        
                        &.last {
                            border: none;
                        }
                    }
                }

                .social-media {    
                    a {
                        color:#191919;
                        font-size: 1.3rem;
                        margin-left: 20px;

                        &:hover {
                            color: #797979;
                            transition: 0.1s ease-in-out;
                        }
                    }
                }
            }

            .main-menu {
                display: flex;
                

                nav {
                    padding-top: 30px;
                    
                    justify-content: left;
                    align-items: center;
                    

                    a {
                        display: inline-block;
                        color: #191919;
                        text-decoration: none;
                        margin-right: 45px;
                        position: relative;

                        &.active {
                            font-weight: 600;                    
                        }

                        &.active::after, 
                        &:hover::after {                                                           
                            content: "";                           
                            position: absolute;
                            font-weight: 500;
                            height: 2px;
                            width: 15px;
                            background-color: #191919;
                            left: 50%;
                            bottom: -3px;
                            transform: translate((calc(50% - 15px)));                          
                        } 
                    }
                }              
            }
            .login-btn {
                display: flex;
                justify-content: end;
                align-items: center;
                margin-top: -35px;
                
                .btn-yellow {
                    padding: 12px 30px;
                }
            }
        }
    }
}

footer {
    position: relative;
    background-color: #0E1021;
 
    .container {
        color: #b6b6bc;

        .background-lines {
            display: none;
            
            @media (min-width: 768px) {
                display: block;
                position: absolute;
                right: 0;
                bottom: 90px;
            }      
        }
        @media (min-width: 768px) {
            display: grid;
            grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
            padding-top: 100px;
            padding-bottom: 80px;
            column-gap: 80px;
        }

        .footer-content-logo {
            color: #b6b6bc;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;

            @media (min-width: 768px) {
                display: grid;
                text-align: left;
            }

            img {
                margin-top: 40px;
                margin-bottom: 20px;

                @media (min-width: 768px) {
                    margin-top: 0;
                    margin-bottom: 0;
                }
            }
        }

        .footer-content {
            display: none;

            @media (min-width: 768px) {
                display: flex;
                flex-direction: column;
            }

            h3 {
                margin-top: 20px;
                margin-bottom: 40px;
                color: #FFFFFF;
            }

            p {
                color: #b6b6bc;
            }
        }
             
    }
      
    .footer-bottom {
        border-top: 1px solid #3e404d;
        padding-top: 30px;
        padding-bottom: 20px;

        @media (min-width: 768px) {
            display: flex;
            justify-content: space-between;   
            padding-left: 300px;
            padding-right: 300px;     
        }

        p {
            color: #b6b7bc;
            font-size: 12px;
            text-align: center;

            @media (min-width: 768px) {
                font-size: 16px;
                text-align: left;
            }
        }

        .social-media {    
            display: none;

            @media (min-width: 768px) { 
                display: block;

                a {
                    color:#FFFFFF;
                    font-size: 1.3rem;
                    margin-left: 20px;

                    &:hover {
                        color: #797979;
                    }
                }
            }
        }
    }  
}

.not-found {
    

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .crito-logo {
            text-align: center;
            margin-top: 60px;
            margin-bottom: 50px;
        }
    
        .section-title {
            margin-bottom: 40px;
            text-align: center;
        }
    
        .not-found-img {
            padding: 20px;
            width: 100%;

            @media (min-width: 768px) {
                width: 30%;
            }
        }
    
        .btn-yellow {
            margin-top: 40px;
           text-align: center;

           @media (min-width: 768px) {
                width: 20%;
            }
           
        }
    }
}


//Main page

.showcase {
    background-color: #F0EFE9;
    position: relative;
    z-index: 0;

    .background-lines {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
    }    

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        .content {
            padding-top: 40px;
            padding-bottom: 40px;
            text-align: center;

            @media (min-width: 1200px) {
                text-align: left;
            }

            h1 {
                font-family: 'DM Sans', sans-serif;
                font-weight: 700;
                font-size: 40px;
                 
                @media (min-width: 768px) {
                    font-size: 70px;
                }

                @media (min-width: 1400px) {
                    font-size: 86px;
                }
            }

            p {
                font-size: 18px;
                padding-top: 30px;
                padding-bottom: 40px;
                padding-left: 10px;
                padding-right: 10px;

                @media (min-width: 768px) {
                    font-size: 20px;
                    padding-left: 0px;
                    padding-right: 0px;
                }
                
            }

            a {
                margin-right: 0px;
                display: block;
                margin-bottom: 20px;

                @media (min-width: 768px) {
                    margin-right: 10px;
                    display: inline-block;
                }
            }
        }

        

        img {
            display: none;
            margin-right: -50px;

            @media (min-width: 1200px) {
                display: block;
            }   
        }
    }
}

.partners-logo {

    @media (max-width: 992px) {
        display: none;
    }
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 85px;
        
    } 
}

.features {

    .container {

        @media (min-width: 768px) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            
            border: 2px solid #d1d1d1;
            
        }

        .title-and-button {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-bottom: 40px;

            @media (min-width: 768px) {
                display: block;
                padding: 20px;
                margin-top: 50px;
            }

            .section-title {
                margin-top: 40px;
                margin-bottom: 40px;
                text-align: center;

                @media (min-width: 768px) {
                    
                    margin-top: 20px;
                    margin-bottom: 30px;
                    margin-left: 40px;
                    margin-right: 80px;
                }
                

                h2 {
                    font-size: 35px;

                    @media (min-width: 768px) {
                        text-align: left;
                        font-size: 45px;
                    }
                }

                p {
                    @media (min-width: 768px) {
                        text-align: left;
                    } 
                }
            }

            .btn-yellow {
                text-align: center;
                width: 100%;

                @media (min-width: 768px) {
                    display: flex;
                    justify-content: center;
                    margin-left: 40px;
                    width: 75%;
                }
            }
        }
        

        .feature-content {
            display: flex;
            flex-direction: column;
            text-align: center;
            

            @media (min-width: 768px) {
                display: grid;
                grid-template-columns: 1fr 1fr;
                text-align: left;
                margin-top: 50px;
                margin-bottom: 50px;
                
                
                
            }

            .feat-box {
                margin: 20px 20px;   
                border-bottom: 1px solid #dad9d3;

                @media (min-width: 768px) {
                    margin-top: 60px;
                    margin-right: 50px;
                    border: none;
                }

                img {
                    margin-bottom: 10px;
                } 
                
                

            }
        }  
    }
}
 
.about {
    
    .container {
        
        .picture-section {
            margin-top: 20px;
            position: relative;

            .img-founder {
                width:100%;
                margin-bottom: 40px;
            }

            .blue-box {
                background-color: #BEEBFF;
                position: absolute;
                left: 12px;
                top: 303px;
                height: 140px;
                width: 280px;
                padding-top: 15px;
                box-shadow: -10px 10px 25px 5px  #a8a8a8;
                
                .blue-box-text {
                    display: flex;
                    justify-content: left;
                    align-items: center;

                    h3 {
                        font-size: 20px;
                        font-family: 'DM Sans', sans-serif;
                        font-weight: 700;
                        margin-left: 20px;
                    }

                    p {
                        color: #F94D1C;
                        font-size: 16px;
                        font-family: 'DM Sans', sans-serif;
                        font-weight: 700;
                        margin-top: 9px;
                        margin-left: 10px;
                        font-style: normal;
                    }
                }

                p {
                    font-family: 'Inter', sans-serif;
                    margin-left: 20px; 
                    font-size: 14px;
                    font-style: italic;
                }
            }
        }

        .section-text {               
                
            p {
                color: #F94D1C;
            }

            #p-section-text {
                color: #191919;
                font-family: 'Inter', sans-serif;
                font-size: 16px;
                font-weight: 400;
                margin-top: 40px;
                margin-bottom: 40px;
            }

            .buttons {
                display: flex;                  
                align-items: center;
                margin-top: 20px;
                margin-bottom: 40px;
                    
                .btn-black {
                    margin-left: 20px;
                    padding: 12px 25px;
                }

                .btn-transparent {
                    margin-left: 40px;
                    margin-right: 15px;
                    padding: 9px 6px;

                    i {
                        padding-right: 8px;
                    }
                }
                    
                #p-intro-video {
                    margin-top: 10px;
                    color: #191919;
                    font-size: 10px;
                    font-family: 'DM Sans', sans-serif;
                    font-weight: 600;
                    
                }
            }
        }
        
        @media (min-width: 768px) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            padding: 80px 60px;
            column-gap: 150px;
            
            .picture-section {
                position: relative;
                display: flex;

                .img-founder {
                    width: 100%;
                }                

                .blue-box {   
                    position: absolute;
                    left: -55px;
                    top: 400px;
                    width: 363px;
                    height: 180px;
                    padding-left: 10px;

                    .blue-box-text {
                        margin-top: 15px;
                    }

                    p {
                        font-size: 14px;
                        font-weight: 500;
                        font-family: 'Inter', sans-serif;                        
                    }
                }            
            }

            p {
                margin-top: 15px;
            }

            h2 {
                margin-bottom: 30px; 
            }
                
            .section-text {   
               
                p {
                    color: #F94D1C;
                }

                

                .buttons { 
                    margin-top: 100px;                       
                        
                    .btn-black {
                        margin-left: 0;
                        padding: 12px 35px;
                    }                      

                    #p-intro-video {
                        margin-top: 15px;
                        font-size: 16px;
                    }
                }
            }         
            
        }
    }       
}

.our-services {
    background-color: #F0EFE9; 
    position: relative; 

    .background-lines {
        position: absolute;
        bottom: 0;
        right: 0;
    }
    
    .container {
        padding-bottom: 110px;
        
        .section-title {
            text-align: center;

            p {
                padding-top: 40px;
            }

            h2 {
                padding-bottom: 30px;
            }

            @media (min-width: 768px) { 
                text-align: left;

                p {
                    padding-top: 100px;
                } 

                h2 {
                    padding-right: 800px;
                    padding-bottom: 35px;
                }  
            } 
        }

        .text-blocks {
            display: grid;
            row-gap: 30px;

            @media (min-width: 768px) {
                display: flex;
                justify-content: space-between;
                align-items: center;
                column-gap: 30px;
            }
            
            .block {
                background-color: #FFFFFF;
                color: #191919;
                display: grid;
                padding: 60px 30px;
                padding-bottom: 30px;
                text-decoration: none;

                &:hover {
                    transition: 0.5s ease-in-out;
                    background-color: #F9D783;
                }
                
                h3 {
                    margin-top: 25px;
                    font-family: 'DM Sans';
                    font-size: 22px;
                    font-weight: 700;
                    position: relative;
                }

                h3:before {
                    position: absolute;
                    top: -45px;
                    content: "";
                    height: 2px;
                    width: 40px;
                    background-color: #191919;                
                }

                p {
                    margin-top: 15px;
                    font-family: 'Inter', sans-serif;
                    font-size: 16px;
                    font-weight: 400;
                    margin-bottom: 30px;
                    line-height: 1.8;
                } 

                .arrow-button{
                    display: flex;
                    justify-self: last baseline;
                    background-color: #191919;
                    color: #FFFFFF;
                    border-radius: 50px;
                    padding: 16px 17px;
                    text-decoration: none;
                         
                    i {
                        font-size: 16px;    
                    }
    
                    &:hover {
                        transition: 0.1s ease-in-out;
                        background-color: #FFFFFF;
                        color: #191919;
                    }
                }
            }
        }
        .browse-services {
            display: flex;
            justify-content: center;
            margin-top: 50px;           
        }
        

    }
}

.why-choose-us {
    padding-top: 7px;

    @media (min-width: 768px) {
        padding-top: 40px;
    }

    .container {
        background-color: #F0EFE9;
        display: flex;
        grid-template-columns: 1fr 1fr;
        position: relative;
        z-index: 0;
        text-align: center;
        
        h3 {
            font-size: 22px;
            font-family: 'DM Sans', sans-serif;
            font-family: 700;
            color: #191919;
        }

        .choose-section-img {    

            img {
                display: none;
            }   
        }

        .section-title {
            margin-top: 50px;
        }

        .choose-section-1 {                

            p {
                font-size: 16px;
                font-family: 'Inter', sans-serif;
                font-family: 500;
                margin-bottom: 60px;
            }

            .choose-section-text-1 {
                margin-top: 30px;

                .choose-grid {
                    justify-content: center;
                    margin-top: 5px;                    
                }
            }
        }
        

        

        @media (min-width: 768px) {
            background-color: #FFFFFF;
            display: grid;
            text-align: left;

            .choose-us-text {           
                margin-right: 220px;

                .section-title {
                    margin-top: 0px;
                }

                .choose-section-1 {

                    p {
                        margin-bottom: 15px;
                    }

                    .choose-section-text-1 {
                        display: flex;
                        
                        .choose-grid {
                            margin-left: 20px;
                            margin-top: 20px;
                        }
                    }
                }
            }
            .choose-section-img {
                
                img {
                    margin-top: 40px;
                    width: 110%;
                    height: auto;
                    display: block;
                }

                .choose-us-background-box {      
                    position: absolute;
                    right: -280px;
                    bottom: 15px;
                    z-index: -1;
        
                    img {
                        width: 100%; 
                        display: block;  
                             
                    }
                }
            }        
        }
    }
}

.gobal-projects {

    .container {

        .section-title {
            text-align: center;
            margin-top: 90px;
            margin-bottom: 50px;

            @media (min-width: 768px) {
                margin-top: 120px;
                margin-bottom: 90px;
            }
        }

        .project-and-cases {
            display: grid;
            grid-template-columns: 1fr;
            gap: 30px;

            @media (min-width: 768px) {
                grid-template-columns: 1fr 1fr;
            }
            
            .project {
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: auto 1fr auto;
                color: #191919;
                text-decoration: none;

                img {
                    width: 100%;
                }

                h3 {
                    font-family: 'DM Sans', sans-serif;
                    font-weight: 700;
                    font-size: 22px; 
                    padding-top: 35px;
                    padding-bottom: 16px;
                    border-bottom: 1px solid #DAD9D3;
                }

                .readmore {
                    padding: 15px;
                    display: flex;
                    justify-content: end;
                    font-family: 'Inter', sans-serif;
                    font-weight: 500;
                    font-size: 14px; 
                    text-decoration: none;
                    color: #191919;

                    i {
                        margin-top: 5px;
                        margin-left: 5px;
                    }
                }

                &:hover .readmore {
                    p {
                        text-decoration: underline;
                    }
                    i {
                        text-decoration: none;
                    }
                    
                }
            }
        }

        .center-button {
            margin-top: 50px;
            margin-bottom: 90px;
        }
    }
}

.our-team {
    background-color: #edcf86;
    padding-bottom: 80px;
    .container {
            
        .button {
            text-align: center;
            margin-top: 50px;

            @media (min-width: 768px) {
                margin-top: 130px;
                margin-right: -25px;
                .btn-yellow {
                    border: 1px solid #191919;
                }
            }
        }
        
        .title {         
            @media (min-width: 768px) {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 50px;
            }

            .section-title {
                text-align: center;
                padding-top: 50px;
                 
                @media (min-width: 768px) {
                    text-align: left; 
                    p {
                        padding-top: 50px;
                    } 
                }
            }   
        }

        .portraits {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            column-gap: 30px;

            @media (min-width: 768px) {
                display: flex;
                flex-direction: row;
            }

            img {
                margin-top: 70px; 
            }

            h3 {
                font-size: 22;
                font-family: 'DM Sans', sans-serif;
                font-weight: 700;
                margin-top: 25px;
            }

            p {
                font-size: 16px;
                font-family: 'Inter', sans-serif;
                font-weight: 400;
            }
        }  
        
        .testimonial {
            background-color: #FFFFFF;
            padding: 100px;

            .section-title {
                background-color: #FFFFFF;
                display: flex;
                justify-content: space-around;
                align-items: center;
            }
        } 
    }
}

.testimonial-section {
    background-color: #edcf86;
    
    @media (min-width: 768px) {
        padding-bottom: 120px;
    }

    .container {
        background-color: #FFFFFF;
        
        @media (min-width: 768px) {
            max-width: 1500px;
            padding-bottom: 100px;
        }

        .section-title {
            text-align: center;
            padding-top: 100px;
            padding-bottom: 80px;
        }

        .testimonial-contents {
            
            @media (min-width: 768px) {
                display: flex;
                padding-left: 120px;
                padding-right: 120px;
                column-gap: 100px;
            }

            .review {
                
                p {
                    margin-top: 15px;
                    line-height: 1.7;
                    padding-right: 25px;
                }

                .review-person {
                    display: flex;
                    margin-bottom: 70px;
                    border-bottom: 1px solid #d1d1d1;

                    @media (min-width: 768px) {
                        border: none;
                        margin-top: 30px;
                        margin-bottom: 0;
                    }

                    img {
                        width: 20%;
                        height: 20%;
                    }

                    .review-person-text {
                        margin-left: 15px;

                        h3 {
                            margin-top: 10px;
                            font-size: 22px;
                            font-family: 'DM Sans', sans-serif;
                            font-weight: 700;
                        }

                        p {
                            margin-top: -8px;
                            font-size: 16px; 
                            font-family: 'Inter', sans-serif;
                            font-weight: 400;
                            color: #F94D1C;
                        }
                    }        
                }
            }
        }
        
        .button {
            display: flex;
            justify-content: center;
            margin-top: 80px;
                 
            .btn-black {
                padding: 12px 25px;
            }
        }      
    }
}

.article-section {
    .container {
        padding-top: 80px;
        padding-bottom: 80px;
    
        .title {
            text-align: center;

            @media (min-width: 768px) {
                display: flex;
                justify-content: space-between;
                align-items: center;
                text-align: left;
            }

            .button {
                margin-top: 50px;              
            }
        }

        .articles-content {
            margin-top: 50px;

            img {
                width: 100%;
            }
            
            @media (min-width: 768px) {
                display: flex;
                column-gap: 30px;
                margin-top: 40px;
            }

            .articles-div {
                position: relative;
                
                .date-box {
                    position: absolute;
                    background-color: #F9D783;
                    padding: 10px 15px;
                    text-align: center;
                    left: 15px;
                    top: 15px;
                    
                    h3 {
                        margin: 0;
                    }

                    p {
                        margin: 0;
                        margin-top: -7px;
                    }   
                }

                #p-business {
                    margin-top: 20px;
                    color: #6A6C71;
                }

                h3 {
                    font-size: 22px;
                    font-family: 'DM Sans', sans-serif;
                    font-weight: 700;
                    margin-top: 20px;
                    line-height: 1.5;
                }

                p {
                    margin-top: 20px;
                }  
            }
        }
    }
}

.newsletter {
    background-color: #F0EFE9;
    position: relative;
    
    .background-lines-right {
        position: absolute;
        display: none;
        right: -44px;
        bottom: 25px;      
    }

    .container {     
        padding-bottom: 20px;

        h2 {
            font-family: 'DM Sans', sans-serif;
            font-size: 25px;
            font-weight: 700;
            text-align: center;
            padding-bottom: 20px;
            padding-top: 20px;
        }

        #newsletter-form {
            text-align: center; 
            display: flex;
            flex-direction: column;          

            input {
                color: #191919;
                text-decoration: none;
                padding: 13px 30px;
                font-size: 16px;
                border-radius: 25px;
                outline: none;
                border: 1px solid #1919191a;               
            }

            .btn-yellow {
                margin-top: 20px;
                margin-bottom: 20px;  
            }  
        }
    }
    
    
    @media (min-width: 768px) {
        position: relative;
        background-color: #F0EFE9;
        padding: 80px 340px;       

        .background-lines-right {
            display: block;
            position: absolute;
            right: 0;
            bottom: 55px;
        }

        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 20px;
            padding-bottom: 0;

            h2 {
                font-family: 'DM Sans', sans-serif;
                font-size: 45px;
                font-weight: 700;
                padding-bottom: 0;
                padding-top: 0;
            }

            #newsletter-form {
                display: block;

                input {
                    color: #191919;
                    text-decoration: none;
                    padding: 13px 30px;
                    font-size: 16px;
                    border-radius: 25px;
                    outline: none;
                    border: 1px solid #1919191a;
                    margin-right: 12px;
                    
                }
            }
        }
    }
}

// News & Articles page

.news-and-articles {

    .container {
        margin-bottom: 100px;

        .section-title {
            margin-top: 120px;
            margin-bottom: 40px;
        }

        .articles {
            display: grid;
            grid-auto-columns: 1fr 1fr 1fr;
            grid-template-columns: 1fr 1fr 1fr;
            column-gap: 40px;
            row-gap: 60px;

            .article {
                text-decoration: none;

                &:hover {
                    background-color: #fffbbe;
                }

                img {
                   width: 420px;
                   height: 230px;
                   object-fit: cover;
                }
    
                h4 {
                    color: #6A6C71;
                    font-size: 16px;
                    font-family: 'Inter', sans-serif;
                    font-weight: 400;
                    margin-top: 20px;
                }
    
                h3 {
                    color: #191919;
                    font-size: 22px;
                    font-family: 'DM Sans', sans-serif;
                    font-weight: 600;
                    margin-top: 20px;
                }
    
                p {
                    color: #6A6C71;
                    font-size: 16px;
                    font-family: 'Inter', sans-serif;
                    font-weight: 400;
                    margin-top: 20px;
                    
                }
            }
        
        }
    }
}

// News Details page

.news-details {
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 180px;
        
        .article-section {

            .section-title {
                margin-top: 80px;
                margin-bottom: 15px;
            }

            .article {
                display: flex;
                flex-direction: column;
    
                .article-info {
                    display: flex;
    
                    .article-date {
                        margin-right: 20px;     
                    }
        
                    .article-category {
                        margin-right: 20px;
                    }
                }
    
                img {
                    width: 760px;
                    height: 500px;
                    margin-top: 45px;
                    margin-bottom: 45px;
                }
        
                #article-text-1 {
                    margin-bottom: 30px;
                }
            }
        }  
        
        .right-column {
            margin-top: 240px;
            
            .search-bar-input-container {
                display: flex;
                align-items: center;
                border: none;
                background-color: #f3f3f3;
                border-radius: 25px;
                padding: 10px 20px;
                
                
              
                .fa-magnifying-glass {
                    margin-right: 8px; 
                    color: #191919; 
                }
              
                .search-bar-input {
                    background-color: #f3f3f3;
                    border: none;
                    outline: none;
                    width: 100%;
                    padding: 5px;
                    font-size: 14px;
                }
            }

            .recent-posts {
                border: 1px solid #e7e7e7;
                padding: 40px;
                margin-top: 20px;

                h3 {
                    font-size: 22px;
                    margin-bottom: 20px;
                }

                .posts {
                    
                    .post {
                        color: #191919;
                        text-decoration: none;
                    }

                    h4 {
                        margin-bottom: 10px;
                        font-size: 16px;
                    }

                    p {
                        color: #5e5e5e;
                        font-size: 14px;
                        font-weight: 500;
                        border-bottom: 1px solid #e7e7e7;
                    }
                }
                
            }
        }
    }
}

// Contacts page

.contacts-showcase-main {
    background-color: #F0EFE9;
    position: relative;
    z-index: 0;
    
    .container {
        padding: 100px;

        .contacts-background-lines {    
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: -1;
        }

        .contacts-showcase {

            h2 {
                margin-top: 40px;
                text-align: center;

                @media (min-width: 768px) {
                    margin-top: 20px;
                    text-align: left;
                }
            }

            .showcase-link {
                display: flex;
                justify-content: center;
                column-gap: 20px;
                
                p {
                    color: #555555;
                    text-decoration: none;
                    font-size: 16px;
                    font-family: 'Inter', sans-serif;
                    font-weight: 300;        
                }  
                
                #p-contacts {
                    color: #191919;
                    font-weight: 400;                         
                }      
            }
            
            h2 {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 56px;
                font-family: 'DM Sans', sans-serif;
                font-weight: 700;
            }
        }
    }    
}

.contact-section {
    
    .container {
        margin-top: 15px;

        @media (min-width: 768px) {
            margin-top: 100px;
            margin-bottom: 80px;
        }

        .contact-information {

            @media (min-width: 768px) {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                column-gap: 30px;
            }

            .contact-information-box { 
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid #d1d1d1;
                padding: 35px;
                margin-bottom: 20px;
                
                .contact-information-box-text {
                    h3 {
                        margin-bottom: 15px;
                    }

                    p {
                        margin-bottom: 0;
                    }

                }

                i {
                    width: 10px;
                    height: 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #191919;
                    padding: 24px 24px;
                    border-radius: 40px;
                    margin-right: 25px;
                    margin-left: -80px;
                    margin-bottom: 50px;
                }
            }
        }

        .contact-form-main {

            @media (min-width: 768px) {
                margin-top: 50px;
            }

            .contact-form {
                background-color: #F0EFE9;
                padding-top: 50px;
                padding-bottom: 100px;
                text-align: center;

                @media (min-width: 768px) {
                    padding-top: 50px;
                }

                .form-row {    
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;                   
                    padding-top: 20px;

                    .form-input {
                        padding: 15px;
                        border-radius: 25px;
                        border: none;
                        width: calc(100% - 30px);

                        @media (min-width: 768px) {
                            padding: 15px 25px;
                            width: calc(100% - 300px);
                        }
                    }
                    input:focus,
                    textarea:focus {
                        outline: none;
                        background-color: #f8e2ad;   
                    }   
                }

                textarea {
                    resize: none;
                    height: 200px;      
                }

                .btn-yellow {
                    display: flex;
                    justify-content: center;   
                    align-items: center;

                    margin-left: 15px;
                    margin-top: 40px;
                    width: calc(100% - 30px);

                    @media (min-width: 768px) {
                        margin-left: 150px;
                        width: calc(100% - 300px);
                        
                    }   
                }
            }       
        }      
    }
}

.map-section {
    padding-top: 50px;
    margin-bottom: -5px;
    iframe {
        width: 100%;
        height: 600px;
    }   
}

